.App {
  margin: 4em;
  font-family: monospace;

}

table {
  margin-left: 1em;
  padding: 1em;
  font-size: 2em;
  border-collapse: collapse;
  user-select: none;
}

.table-container {
  flex: 0;
}


table td {
  padding: .4em;
  padding-left: 1em;
  width: 1.4em;
  border: 1px solid #eee;
}

.cell--harbour { color: #1081ff !important; background-color: #a8d1ff; }

.cell--ocean { color: #1081ff !important; background-color: #5ca9ff; }

/*.harbour {
  border-style: solid;
  width: 0;
  height: 0;
  opacity: 1;
  position: absolute;
}

.harbour-ur {
  border-width: 0 1em 1em 0px;
  border-color: transparent #5ba9ff transparent transparent;
}
.harbour-ul {
  border-width: 1em 1em 0px 0px;
  border-color: #5ba9ff transparent transparent transparent;
}
.harbour-dr {
  border-width: 0px 0px 1em 1em;
  border-color: transparent transparent #5ba9ff transparent;
}
.harbour-dl {
  border-width: 1em 0em 0px 1em;
  border-color: transparent transparent transparent #5ba9ff;
}*/

td.cell--activated {
  font-weight: bold;
  cursor: pointer;
  background-color: #134e13;
  color: white;
} 

td.cell--unactivated {
  cursor: pointer;
}
td.cell--blocked {
  cursor: not-allowed;
}

.cell--dim {
  color: #999;
}

.cell--harbour.cell--unactivatable {
 /* color: white; */
}

.cell--unactivatable {
  color: #999;
  cursor: not-allowed;
}

.cell--settlement { 
  font-weight: bold;
}

.grid-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}
.game-container {
  margin-bottom: 8em;
}

.game-container>a{
  margin-left: 2em;
}

.info {
}

.grid-container h2 {
  position: absolute;
  left: 1em;
  padding: 0px;
  margin: 0px;
  font-size: 2em;
}

.info {
padding: 0px;
display: flex; 
flex-direction: row;
}

.messages, .notes {
  margin: 0px;
  font-size: 1.4em;
  list-style-type: none;
}

.messages li{
  margin-bottom: 1em;
}

.messages {
  min-width: 16em;
  flex: 0;
}

.notes {
  flex: 1;
  font-style: italic;
  color: #999;
}

