.App {
  font-family: monospace;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

table {
  /*margin-left: 1em;*/
  padding: 1em;
  /*font-size: 2em;*/
  border-collapse: collapse;
  user-select: none;
}

.size-choice {
  margin-left: 1em;
  margin-right: 1em;
}

.size-picker {
  user-select: none;
}
.size-choice a {
  text-decoration: none;
}
.size-picker h2 {
  display: inline;
}

@media only screen and (min-width: 768px) {
  table {
    font-size: 2em;
  }
  .table-container {
    float: left;
    margin-right: 1em;
  }
}

.table-container {
  flex: 0;
}

table td {
  padding: .4em;
  padding-left: 1em;
  width: 1.4em;
  border: 1px solid #eee;
}

.cell--harbour { color: #1081ff !important; background-color: #a8d1ff; }

.cell--ocean { color: #1081ff !important; background-color: #5ca9ff; }


td.cell--activated {
  font-weight: bold;
  cursor: pointer;
  background-color: #134e13;
  color: white;
} 

td.cell--unactivated {
  cursor: pointer;
}
td.cell--blocked {
  cursor: not-allowed;
}

.cell--dim {
  color: #999;
}

.cell--harbour.cell--unactivatable {
 /* color: white; */
}

.cell--unactivatable {
  color: #999;
  cursor: not-allowed;
}

.cell--settlement { 
  font-weight: bold;
}

.grid-container {
  height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.restart {
  margin-top: 1em;
  font-size: 1.2em;
}

.grid-container h2 {
  padding: 0px;
  margin: 0px;
  font-size: 4em;
}

.info {
  flex: 1;
  display: flex; 
  flex-direction: column;
  margin-bottom: 1em;
  max-width: 420px;
}

.messages, .notes {
  padding: 0px;
  font-size: 1.2em;
  list-style-type: none;
  margin: 0px;
  margin-top: 8px;
}

.messages li {
  margin-bottom: 8px;
}

.messages {
  flex: 0;
}

.notes {
  flex: 1;
  font-style: italic;
  color: #999;
  column-count: 2;
  column-fill: auto;
}

